.storybook-input {
  padding: 8px 12px;
  border: 4px solid #ffffff;
  background-color:#AEB2C4 ;
  border-radius: 0.5rem;
  font-family: "Monofonto";
  font-size: 16px;
  width: 10rem;
}

.storybook-input:focus {
  border: 4.5px solid #ffff;
  border-radius: 0.5rem;
}
.storybook-input::placeholder {
  color: #929DC2;
  font-size: small;
  font-family: "Monofonto";
}
